node_modules
package-lock.json
.venv
.env
*.log
.DS_Store

backend/transcriptions/*
backend/uploads/*
backend/data/*
backend/node_modules
backend/package-lock.json
backend/.env

electron/node_modules
electron/package-lock.json
electron/.env

extension/node_modules
extension/package-lock.json
extension/.env

scripts/venv
scripts/audios/*
scripts/transcriptions/*
